spring:
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3309}/gpw-db
    username: gpw
    password: gpw-password-213!
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties.hibernate.format_sql: true
    properties.hibernate.jdbc.time_zone: UTC
  config:
    import: optional:classpath:gpw.yaml
  cache:
    type: redis
  data.redis:
    host: ${REDIS_HOST:127.0.0.1}
    port: ${REDIS_PORT:3308}
logging:
  level:
    root: WARN # all logs e.g. then WARN
    pl.slaszu.gpw: DEBUG # pl.slaszu.gpw app logs e.g. then DEBUG
  file.path: ${gpw.default-dir}/log/
